@import "../../styles/variables";
@import "../../styles/mixins/mediaQueries";

.classes {
    .classes-title {
        margin: 0;
        text-align: center;
        color: $primary-font-colour;
        text-shadow: $primary-text-shadow;
        padding: 32px;
        font-size: 48px;
        font-weight: 500;
        font-family: sans-serif;

        @include breakpoint(md) { 
            font-size: 72px;
        }
    }

    .classes-content {
        display: flex;
        flex-direction: column;


        // on medium breakpoint, go from having a single column of classes to two flexible sized ones
        @include breakpoint(md) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            
            .class-card {
                width: 48%;
            }
        }

        // on large breakpoint, go from having flexible size to fixed
        @include breakpoint(lg) {
            .class-card {
                &.num-5 {
                    width: 335px;
                }
                &.num-4 {
                    width: 270px;
                }
                &.num-3 {
                    width: 205px;
                }
                &.num-2, &.num-1 {
                    width: 140px;
                }
            }
        }
    }

    
    // shared styles among all cards
    .class-card-champions {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 0;

        .champion-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}