@import "./styles/mixins/mediaQueries";
@import "./styles/variables";

.App {
    min-height: 100vh;
    background: $primary-light-grey;

    @include breakpoint(md) {
        //background: green;
    }

    @include breakpoint(lg) {
        //background: red;
    }

    @include breakpoint(xl) {
        //background: yellow;
    }

    display: flex;
    flex-direction: row;

    // 100% - visible collapsed navbar
    .content {
        width: calc(100% - 54px);
    }
}