@import "./styles/mixins/mediaQueries";
@import "./styles/variables";

.App {
    min-height: 100vh;
    background: $base-bg-colour;

    @include breakpoint(md) {
        //background: green;
    }

    @include breakpoint(lg) {
        //background: red;
    }

    @include breakpoint(xl) {
        //background: yellow;
    }

    display: flex;
    flex-direction: row;
}