/****************************************************
*                                                   *
*                     TEXT                          *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                  BACKGROUND                       *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                     TIERS                         *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                     TEXT                          *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                  BACKGROUND                       *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                     TIERS                         *
*                                                   *
*****************************************************/
.items-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-table .item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items-table .item-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 66px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 3px;
  padding: 3px;
}

@media (min-width: 1200px) {
  .items-table .item-tile {
    width: 120px;
  }
}

.items-table .item-tile.item-tile-darken .item-img {
  opacity: 0.5;
}

.items-table .item-tile:hover {
  cursor: pointer;
}

.items-table .item-img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.items-table .item-desc {
  display: none;
  padding: 0px 5px;
  margin: 0;
  font-size: 11px;
}

@media (min-width: 1200px) {
  .items-table .item-desc {
    display: block;
  }
}

/**********************************************************
*                                                         *
*                       THEMES                            *
*                                                         *
***********************************************************/
.dark-theme .item-row:first-child .item-tile {
  background: #2a2f31;
}

.dark-theme .item-row:first-child .item-tile.item-tile-darken {
  background: #535252;
}

.dark-theme .item-tile {
  background: #555555;
}

.dark-theme .item-tile:first-child {
  background: #2a2f31;
}

.dark-theme .item-tile.item-tile-highlight {
  background: #2a2f31;
}

.dark-theme .item-tile.item-tile-darken {
  background: #666565;
}

.dark-theme .item-tile.item-tile-darken:first-child {
  background: #535252;
}

.dark-theme .item-desc {
  color: #fffacd;
}

.light-theme .item-row:first-child .item-tile {
  background: #b7b1b1;
}

.light-theme .item-row:first-child .item-tile.item-tile-darken {
  background: #535252;
}

.light-theme .item-tile {
  background: #cacaca;
}

.light-theme .item-tile:first-child {
  background: #b7b1b1;
}

.light-theme .item-tile.item-tile-highlight {
  background: #b7b1b1;
}

.light-theme .item-tile.item-tile-darken {
  background: #666565;
}

.light-theme .item-tile.item-tile-darken:first-child {
  background: #535252;
}

.light-theme .item-desc {
  color: #373737;
}

/**********************************************************
*                                                         *
*                    DESCRIPTIONS                         *
*                                                         *
***********************************************************/
@media (min-width: 1200px) {
  .hide-descriptions .item-tile {
    width: 53px;
  }
}

.hide-descriptions .item-desc {
  display: none;
}
/*# sourceMappingURL=index.css.map */