@import "../../../../../../../../styles/variables";
@import "../../../../../../../../styles/mixins/mediaQueries";

// the colour secondary grey fades to (in simple item grid)
$background-secondary-dark-fade: #666565;
$background-tertiary-dark-fade: #535252;

$background-secondary-light-fade: #666565;
$background-tertiary-light-fade: #535252;

.items-table {
    display: flex;
    flex-direction: column;
    align-items: center;

        .item-row {
            display: flex;
            flex-direction: row;

        }

        .item-tile {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 66px;
            border: $main-border-style;
            margin: 3px;
            padding: 3px;

            // change width for xl + since we show description on larger bps
            @include breakpoint(xl) {
                width: 120px;
            }

            &.item-tile-darken {
                .item-img {
                    opacity: 0.5;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .item-img {
            width: 50px;
            height: 50px;
            border: 1px solid black;
        }

        .item-desc {
            display: none;
            padding: 0px 5px;
            margin: 0;
            font-size: 11px;

            // make item desc visible on xl bp
            @include breakpoint(xl) {
                display: block;
            }
        }
}

/**********************************************************
*                                                         *
*                       THEMES                            *
*                                                         *
***********************************************************/
.dark-theme {
    // header row
    .item-row:first-child {
        .item-tile {
            background: $background-tertiary-dark;

            &.item-tile-darken {
                background: $background-tertiary-dark-fade;
            }
        }
    }

    // item colours
    .item-tile {
        background: $background-secondary-dark;

        // left most column
        &:first-child {
            background: $background-tertiary-dark;
        }

        &.item-tile-highlight {
            background: $background-tertiary-dark;
        }

        &.item-tile-darken {
            background: $background-secondary-dark-fade;

            &:first-child {
                background: $background-tertiary-dark-fade;
            }
        }
    }
    // item description
    .item-desc {
        color: $secondary-font-colour;
    }
}
.light-theme {
    // header row
    .item-row:first-child {
        .item-tile {
            background: $background-tertiary-light;

            &.item-tile-darken {
                background: $background-tertiary-light-fade;
            }
        }
    }
    // item colours
    .item-tile {
        background: $background-secondary-light;

        // left most column
        &:first-child {
            background: $background-tertiary-light;
        }
        // selected highlight
        &.item-tile-highlight {
            background: $background-tertiary-light;
        }

        &.item-tile-darken {
            background: $background-secondary-light-fade;

            &:first-child {
                background: $background-tertiary-light-fade;
            }
        }
    }
    // item description
    .item-desc {
        color: $font-primary-light;
    }
}

/**********************************************************
*                                                         *
*                    DESCRIPTIONS                         *
*                                                         *
***********************************************************/
.hide-descriptions {

    // reduce tile size when description is hidden
    .item-tile { 
        @include breakpoint(xl) {
            width: 53px;
        }
    }
    // hide description
    .item-desc {
        display: none;
    }
}