@import "../../../../styles/variables";
@import "../../../../styles/mixins/mediaQueries";

.items-table {
    display: flex;
    flex-direction: column;
    align-items: center;

        .item-row {
            display: flex;
            flex-direction: row;

            // header row 
            &:first-child {
                .item-tile {
                    background: $tertiary-light-grey;

                    &.item-tile-darken {
                        background: $tertiary-light-grey-fade;
                    }
                }
                
            }
        }

        .item-tile {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 66px;
            border: $main-border-style;
            margin: 3px;
            padding: 3px;
            background: $secondary-light-grey;

            // change width for xl + since we show description on larger bps
            @include breakpoint(xl) {
                width: 120px;
            }

            // left most column
            &:first-child {
                background: $tertiary-light-grey;
            }

            &.item-tile-highlight {
                background: $tertiary-light-grey;
            }

            &.item-tile-darken {
                background: $secondary-light-grey-fade;

                &:first-child {
                    background: $tertiary-light-grey-fade;
                }

                .item-img {
                    opacity: 0.5;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .item-img {
            width: 50px;
            height: 50px;
            border: 1px solid black;
        }

        .item-desc {
            display: none;
            color: $secondary-font-colour;
            padding: 0px 5px;
            margin: 0;
            font-size: 11px;

            // make item desc visible on xl bp
            @include breakpoint(xl) {
                display: block;
            }
        }
}