@import "../../../../styles/variables";

.class-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $font-primary-dark;
    margin: 3px;
    border: $main-border-style;
    background: $background-secondary-dark;

    .class-card-title {
        font-size: 20px;
        font-weight: 500;
        margin: 15px 0 5px 0;
    }

    .class-card-description {
        margin: 0 10px 10px 10px;
        font-size: 13px;
        text-align: center;
    }
}