@import "../../../../styles/variables";
@import "../../../../styles/mixins/mediaQueries";

.items-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .items-chart-base-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: $main-border-style;
        margin: 0 16px 16px 16px;
    }

    .items-chart-card-base-img {
        width: 64px;
        height: 64px;
        margin: 15px;
        box-sizing: border-box;
        border: 2px solid black;
        cursor: pointer;

        &.items-chart-card-img-highlight {
            border: 3px solid white;
        }
    }

    .items-chart-title {
        color: $base-text-colour;
        font-size: 16px;
        font-weight: 300;
    }

    .items-chart-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: $base-text-colour;
    }

    .items-chart-builds-from {
        font-size: 10px; 
    }    
}