.items-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-chart .items-chart-base-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 16px 16px 16px;
}

.items-chart .items-chart-title {
  color: #eedab5;
  font-size: 16px;
  font-weight: 300;
}

.items-chart .items-chart-card-base-img {
  width: 64px;
  height: 64px;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
  cursor: pointer;
}

.items-chart .items-chart-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #eedab5;
}

.items-chart .items-chart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 5px;
  width: 145px;
}

.items-chart .items-chart-card.items-chart-card-highlight {
  background: #2a2f31;
}

.items-chart .items-chart-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-chart .items-chart-card-secondary-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items-chart .items-chart-card-main-img {
  width: 50px;
  height: 50px;
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black;
}

.items-chart .items-chart-card-img-highlight {
  border: 3px solid white;
}

.items-chart .items-chart-builds-from {
  font-size: 10px;
}

.items-chart .items-chart-card-secondary-img {
  width: 30px;
  height: 30px;
  margin: 3px 10px;
}

.items-chart .items-chart-card-desc {
  text-align: center;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */