@import "../../../../styles/variables";
@import "../../../../styles/mixins/mediaQueries";

.items-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .items-chart-base-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: $main-border-style;
        margin: 0 16px 16px 16px;
    }

    .items-chart-title {
        color: $base-text-colour;
        font-size: 16px;
        font-weight: 300;
    }

    .items-chart-card-base-img {
        width: 64px;
        height: 64px;
        margin: 15px;
        box-sizing: border-box;
        border: 2px solid black;
        cursor: pointer;

        &.items-chart-card-img-highlight {
            border: 3px solid white;
        }
    }

    .items-chart-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: $base-text-colour;
    }

    .items-chart-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: $main-border-style;
        padding: 10px 5px;
        width: 145px;

        &.items-chart-card-highlight {
            background: #2a2f31;
        }
    }

    .items-chart-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .items-chart-card-secondary-items-row {
        display: flex;
        flex-direction: row;
    }

    

    .items-chart-card-main-img {
        width: 50px;
        height: 50px;
        margin: 5px;
        box-sizing: border-box;
        border: 2px solid black;
    }

    .items-chart-builds-from {
        font-size: 10px; 
    }

    .items-chart-card-secondary-img {
        width: 30px;
        height: 30px;
        margin: 3px 10px;
        border: 1px solid black;
    }

    .items-chart-card-secondary-img-highlight {
        border: 1px solid white;
    }

    .items-chart-card-desc {
        text-align: center;
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
}