@import "../../styles/variables";
@import "../../styles/mixins/mediaQueries";

.items {
    .items-title {
        margin: 0;
        text-align: center;
        color: $primary-font-colour;
        text-shadow: $primary-text-shadow;
        padding: 32px 32px 0 32px;
        font-size: 72px;
        font-weight: 500;
        font-family: sans-serif;
    }

    .toggle {
        margin-bottom: 32px;
        display: none;

        // show toggle for md + (since table only visible for md+)
        @include breakpoint(md) {
            display: flex;
        }
    }

    // toggle items table and chart
    .items-table, .items-chart {
        display: none;
        
        &.items-content-visible {
            display: flex;
        }
    }
    // when on smaller than md screen, force item chart
    @media (max-width: 768px) {
        .items-table {
            display: none;
        }
        .items-chart {
            display: flex;
        }
    }
}