@import "../../styles/variables";
@import "../../styles/mixins/mediaQueries";

.items {
    .items-title {
        margin: 0;
        text-align: center;
        color: $base-text-colour;
        padding: 32px 32px 0 32px;
        font-size: 72px;
        font-weight: 500;
        font-family: sans-serif;
    }

    .toggle {
        margin-bottom: 32px;
    }

    // toggle items table and chart
    .items-table, .items-chart {
        display: none;
        
        &.items-content-visible {
            display: flex;
        }
    }
}