/****************************************************
*                                                   *
*                     TEXT                          *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                  BACKGROUND                       *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                     TIERS                         *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                     TEXT                          *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                  BACKGROUND                       *
*                                                   *
*****************************************************/
/****************************************************
*                                                   *
*                     TIERS                         *
*                                                   *
*****************************************************/
.classes .classes-title {
  margin: 0;
  text-align: center;
  color: #eedab5;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 32px;
  font-size: 48px;
  font-weight: 500;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .classes .classes-title {
    font-size: 72px;
  }
}

.classes .classes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .classes .classes-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .classes .classes-content .class-card {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .classes .classes-content .class-card.num-5 {
    width: 335px;
  }
  .classes .classes-content .class-card.num-4 {
    width: 270px;
  }
  .classes .classes-content .class-card.num-3 {
    width: 205px;
  }
  .classes .classes-content .class-card.num-2, .classes .classes-content .class-card.num-1 {
    width: 140px;
  }
}

.classes .class-card-champions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 10px 0;
}

.classes .class-card-champions .champion-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */