@import "../../styles/variables";
@import "../../styles/mixins/mediaQueries";

.navbar {
    background:$primary-dark-grey;
    display: flex;
    flex-direction: column;
    min-width: 230px;
    width: 230px;
    margin-left: -176px;
    transition: .25s ease-in-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &.open {
        margin-left: 0;
    }

    // this is the fixed version of navbar
    .navbar-content {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 230px;
    }

    .navbar-items {
        margin-top: 30px;
    }

    .navbar-header-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 5px 8px;
    }

    .navbar-header-title {
        color: $primary-font-colour;
        font-weight: 300;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-grow: 1;
    }

    .navbar-item-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 8px;
        cursor: pointer;

        &.navbar-active-item-row {
            background: $secondary-light-grey;
        }

        &:hover {
            background: $primary-light-grey;
        }
    }

    .navbar-item-row-title {
        margin: 0;
        padding: 0;
        color: $primary-font-colour;
        font-weight: 300;
    }

    .navbar-item-row-icon {
        width: 40px;
    }
}