// text colours
$primary-font-colour: #eedab5;
$secondary-font-colour: #fffacd;

$primary-font-colour-negative: #262626;

$primary-text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);

// light greys
$primary-light-grey: #828282;
$secondary-light-grey: #555555;
$tertiary-light-grey: #2a2f31;

// the colour secondary grey fades to (in simple item grid)
$secondary-light-grey-fade: #666565;
$tertiary-light-grey-fade: #535252;

// dark greys
//$primary-dark-grey: #12171a;
$primary-dark-grey: #212527;

// colours based on tiers
$tier-one-colour: #eedab5;
$tier-two-colour: #e99747;
$tier-three-colour: #a0f393;
$tier-four-colour: #63c5f3;
$tier-five-colour: #ff4949;

// main border style
$main-border-style: 1px solid rgba(255, 255, 255, 0.2);