/****************************************************
*                                                   *
*                     TEXT                          *
*                                                   *
*****************************************************/
//dark mode
$font-primary-dark: #eedab5;
$secondary-font-colour: #fffacd;
$font-primary-dark-negative: #262626;
$primary-text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);

// light mode
$font-primary-light: #373737;




/****************************************************
*                                                   *
*                  BACKGROUND                       *
*                                                   *
*****************************************************/
// dark mode
$background-primary-dark: #828282;
$background-secondary-dark: #555555;
$background-tertiary-dark: #2a2f31;

// light mode
$background-primary-light: #ffffff;
$background-secondary-light: #cacaca;
$background-tertiary-light: #b7b1b1;



// the colour secondary grey fades to (in simple item grid)
$background-secondary-dark-fade: #666565;
$background-tertiary-dark-fade: #535252;

// dark greys
//$background-primary-dark-grey: #12171a;
$background-primary-dark-grey: #212527;

/****************************************************
*                                                   *
*                     TIERS                         *
*                                                   *
*****************************************************/
$tier-one-colour: #eedab5;
$tier-two-colour: #e99747;
$tier-three-colour: #a0f393;
$tier-four-colour: #63c5f3;
$tier-five-colour: #ff4949;

// main border style
$main-border-style: 1px solid rgba(255, 255, 255, 0.2);